[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.68.0"
uvicorn = "==0.12.2"
psycopg-binary = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
alembic = "*"
gunicorn = "*"
uvloop = "*"
httptools = "*"

[dev-packages]

[requires]
python_version = "3.9"
